version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}

  machine-learning-client:
    build: ./machine-learning-client
    container_name: ml-client
    env_file:
      - .env
    depends_on:
      - mongodb
    volumes:
      - ./machine-learning-client:/app

  web-app:
    build: ./web-app
    container_name: web-app
    env_file:
      - .env
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    volumes:
      - ./web-app:/app

volumes:
  mongo_data:
